<?xml version="1.0"?><settings><s name="uploadPath" type="text"></s><s name="allowRobots" type="boolean">true</s><s name="filePath" type="text">files</s><s name="searchable" type="boolean">false</s><s name="badIPs" type="text"></s><s name="fileServerPath" type="text">/</s><s name="name" type="text"></s><s name="uploadServerPath" type="text"></s><s name="badContent" type="text"></s></settings>