<?xml version="1.0"?><settings><s name="showLocks" type="boolean">false</s><s name="description" type="text">an &lt;b&gt;AniAniWeb&lt;/b&gt;</s><s name="rssFormatter" type="code">(PageFormatter rssFormatter)</s><s name="showModified" type="boolean">true</s><s name="colorScheme" type="text">white</s></settings>